@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

:root {
  --dark-blue: #1F2937;
  --light-blue: #3882F6;
  --light-grey: #E5E7EB;

  --hero-main-text: #F9FAF8;
  --hero-secondary-text: #E5E7EB;
  --header-logo-text: #F9FAF8;
  --info-text: #1F2937;
  --quote-text: #1F2937;
}

body {
  font-family: 'Ariel', sans-serif; /* 'Catamaran', */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

body,
h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

header,
footer,
.hero {
  background-color: var(--dark-blue);
  color: var(--hero-main-text);
}

header a,
.hero-subtext {
  color: var(--hero-secondary-text);
  font-size: 18px;
}

.action-area {
  background-color: var(--light-blue);
}

.quotes {
  background-color: var(--light-grey);
}

.logo {
  color: var(--header-logo-text);
  font-size: 24px;
  font-weight: bold;
}

button {
  color: var(--hero-secondary-text);
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

header > .container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

.hero > .container {
  display: flex;
  justify-content: space-between;
  flex: 0 1 100%;
  gap: 30px;
  max-width: 900px;
  margin: auto;
}

main > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

.quotes > .container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

main,
.quotes {
  display: flex;
  justify-content: center;
  flex: 1 0 initial;
}

.call-to-action > .container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

section > * {
  flex: 1 1 100%;
}

.hero {
  padding: 80px 0;
}

header {
  padding: 20px 0;
}

.hero img {
  min-width: 50%;
  background-color: grey;
}

.hero-content > h1 {
  font-size: 48px;
  font-weight: bold;
}

main {
  padding: 30px 0;
}

main h2 {
  text-align: center;
}

main img {
  border: 3px solid var(--light-blue);
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.info-cards {
  display: flex;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  padding: 10px;
  display: flex;
}

footer > * {
  margin: auto;
}
