body {
  margin: 0;
  font-family: Ariel, sans-serif;
}

a {
  text-decoration: none;
}

header,
footer,
.hero {
  background-color: #1F2937;
  color: white;
}

header a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
}
