body {
  margin: 0;
  height: 100vh;
  font-family: Ariel, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

header,
footer,
.hero {
  background-color: #1F2937;
  color: white;
}

header a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
}

.container {
  flex-basis: 100%;
}
